.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(5, 5, 92);
  height: 80px;
  padding: 0px 50px;
}
.navbar li{
  list-style: none;
}
.navbar li a{
  text-decoration: none;
  margin-left: 30px;
  color: #fff;
}
.navbar li a:hover{
    color:rgb(243, 177, 101);
    transition: .5s all ease;
}