.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: initial;
  background-image: linear-gradient(#066cd8, rgb(4, 4, 77));
  height: 80px;
  padding: 0px 50px;
}
.navbar li{
  list-style: none;
}
.navbar li a{
  text-decoration: none;
  margin-left: 30px;
  font-weight: bold;
  color: #fff;
  transition: .2s;
}
.navbar li a:hover{
    color: #ea9531;
}